.blockLogin {
  background-color: #e6f0ff;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  padding-top: 30vh;
}

.textLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 42px;
}

.TextCheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

.checkboxcss {
  border-radius: 2px;
  background-color: black;
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.imageLogin {
  height: 450px;
  width: 545px;
}

.buttonLogin {
  width: 350px;
  background-color: #2b7fff;
  height: 56px;
  margin-top: 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.download {
  width: 400px;
  height: 300px;
  border-left: 1px solid gray;
}

/* .text-right {
  width: 20px;
  height: 10px;
} */
.formLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blockLogin .heading {
  width: 730px;
  color: red;
}

.downloadNow {
  width: 120px;
  height: 20px;
  background-color: red;
  color: white;
  font-size: 8px;
  margin-top: 20px;
}

.img {
  -webkit-box-shadow: -8px 8px 10px gray;
          box-shadow: -8px 8px 10px gray;
}

.textDownload {
  width: 130px;
  height: 140px;
}

@media (max-width: 1280px) {
  .imageLogin {
    height: 380px;
    width: 475px;
  }
  .textLogin {
    font-size: 20px;
  }
}
.content-login {
  background-color: #EAEDF2;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-login {
  max-width: 540px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
.box-login > .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box-login .content-from__login {
  padding: 50px 60px;
}

.title-login__form {
  font-size: 26px;
  color: #c1212d;
  margin-bottom: 25px;
  font-weight: 700;
  text-align: center;
}

.content-from__login .form-control {
  height: 50px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  border: 0px;
  border-radius: 0px;
  border-left: solid 5px #c1212d;
  background-color: rgba(33, 37, 41, 0.07) !important;
  margin-bottom: 25px;
  box-shadow: none;
  font-size: 16px !important;
}
.content-from__login .form-control:hover, .content-from__login .form-control:focus, .content-from__login .form-control:active {
  border-left: solid 5px #c1212d;
  background-color: rgba(33, 37, 41, 0.07) !important;
}
.content-from__login .btn-login {
  width: 100%;
}
.content-from__login .form-input-group svg {
  margin-top: unset !important;
  top: 0px;
  bottom: 0px;
  margin: auto !important;
}

.btn-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  background-color: #c1212d;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px;
  color: #ffffff;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 5px 15px;
  border: solid 2px transparent;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-login img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.btn-login:hover, .btn-login:focus {
  border: solid 1px #c1212d;
  color: #c1212d;
  background-color: transparent !important;
}
.btn-login:hover img, .btn-login:focus img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.box-text__login {
  position: relative;
  height: 1px;
  padding-top: 80%;
  width: 100%;
}
.box-text__login img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-form__login {
  position: absolute;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF;
  z-index: 10;
  padding: 20px 0px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}
.header-form__login img {
  height: 60px;
}