.item-info__dashboard {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 50px;
  position: relative;
  color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);

  .icons-info__dashboard {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
  }

  p {
    margin-bottom: 0px;
    width: fit-content;
  }

  .number-item__dashboard {
    font-size: 26px;
  }

  .text-item__dashboards {
    font-size: 12px;
  }
}

.list-info__dashboard {
  > .row {
    & > [class^="col"] {
      height: 100%;
      margin-top: 10px;

      &:nth-child(4n + 1) {
        .item-info__dashboard {
          background: linear-gradient(
            90deg,
            rgba(237, 27, 47, 1) 0%,
            rgb(255, 179, 0) 100%
          );

          .icons-info__dashboard {
            transform: rotate(-45deg);
          }
        }
      }

      &:nth-child(4n + 2) {
        .item-info__dashboard {
          background: linear-gradient(
            90deg,
            rgba(237, 192, 27, 1) 0%,
            rgba(255, 0, 0, 1) 100%
          );
          .icons-info__dashboard {
            transform: rotate(-45deg);
          }
        }
      }

      &:nth-child(4n + 3) {
        .item-info__dashboard {
          background: linear-gradient(
            90deg,
            rgba(237, 27, 27, 1) 0%,
            rgba(255, 196, 0, 1) 100%
          );
          .icons-info__dashboard {
            transform: rotate(145deg);
          }
        }
      }

      &:nth-child(4n + 4) {
        .item-info__dashboard {
          background: linear-gradient(
            90deg,
            rgba(237, 164, 27, 1) 0%,
            rgba(255, 0, 0, 1) 100%
          );
          .icons-info__dashboard {
            transform: rotate(145deg);
          }
        }
      }
    }
  }
}

.title-box__dashboard {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;

  svg {
    margin-right: 5px;
    fill: $reds;
    font-size: 25px;
  }
}

.box-dashboard {
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;

  .box-dashboard__top {
    padding: 10px 15px;
    background-color: #f7f7f7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  .box-dashboard__content {
    padding: 20px;
    background-color: #ffffff;
  }
}
.bar-chart__dashboard {
  width: 100%;
}
.box-chart__dashboard {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.pie-chart__dashboard {
  width: 60% !important;
  height: 60% !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.list-label__chart {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;

  li {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 15px;
    }

    .label-color__chart {
      display: flex;
      width: 15px;
      height: 15px;
      border-radius: 2px;
      background-color: red;
      margin-right: 3px;
      font-size: 14px;
    }
  }
}

.top-slogan__dashboard {
  ul {
    padding-left: 0px;
    display: flex;
    align-items: center;

    li {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
}
