.header-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.navbar {
  @media (min-width: $screen-lg) {
    margin: 0 0 0 250px;
  }
  background: #ffffff;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  max-height: 60px;
  padding: 15px 20px;
  @include transition2;
  display: flex;
  align-items: center;
}

.header {
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  .mobile-menu {
    cursor: pointer;
    @media (min-width: $screen-lg) {
      display: none;
    }
  }
  .user-profile-info {
    border-bottom: 1px dashed #eee;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-align: left;
    .user-name {
      font-size: 0.875rem;
      font-weight: 600;
    }
    .user-role {
      letter-spacing: 0.2rem;
      text-transform: capitalize;
    }
  }
  .user-profile-drp {
    position: relative;
    .dropdown-menu {
      background: #fff;
      border: 1px solid #d4d8dd;
      border-radius: 0.5rem;
      box-shadow: 0 4px 25px 0 rgb(168 180 208 / 10%);
      display: none;
      font-size: 0.875rem;
      min-width: 176px;
      padding: 5px;
      position: absolute;
      right: 0;
      top: 40px;
      z-index: 20;
      &.active {
        webkit-animation-fill-mode: both;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: slideIn;
        animation-name: slideIn;
        display: block;
      }
    }
    .dropdown-item {
      a {
        display: flex;
        font-size: 0.875rem;
        font-weight: 500;
        padding: 10px 5px;
      }
      svg {
        width: 17px;
        margin-right: 7px;
        height: 17px;
      }
    }
    .avatar {
      position: relative;
      width: 2.375rem;
      height: 2.375rem;
      cursor: pointer;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
}
.notify-drp {
  position: relative;
  margin-right: 10px;
  .notify-icon {
    @include circle(36px);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    .badget {
      color: $white;
      background: $red;
      font-weight: 500;
      font-size: 0.65rem;

      padding: 0px 6px;
      min-width: 18px;
      height: 18px;
      border-radius: 999px;
      position: absolute;
      top: -5px;
      right: -10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .dropdown-menu {
    background: #fff;
    border: 1px solid #d4d8dd;
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px 0 rgb(168 180 208 / 10%);
    display: none;
    font-size: 0.875rem;
    min-width: 300px;
    padding: 10px;
    text-align: left;
    width: 300px;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 20;
    &.active {
      webkit-animation-fill-mode: both;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: slideIn;
      animation-name: slideIn;
      display: block;
    }
  }
  .dropdown-item {
    a {
      display: flex;
      font-size: 0.875rem;
      font-weight: 500;
      padding: 10px 5px;
    }
    svg {
      width: 17px;
      margin-right: 7px;
      height: 17px;
    }
  }
}

// notify

/*  chat */
.notifi-wrapper .heading {
  margin-bottom: 10px;
}
.notify-list {
  height: 330px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.notify-list .item .status {
  width: 8px;
  height: 8px;
  line-height: 8px;
  border-radius: 50%;
  display: block;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#22ba4f),
      to(rgba(34, 186, 79, 0))
    ),
    #19a442;
  background: linear-gradient(180deg, #22ba4f 0%, rgba(34, 186, 79, 0) 100%),
    #19a442;
  position: absolute;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 15px;
  left: 10px;
}
.notify-list .item {
  display: flex;
  margin-bottom: 10px;
  border-radius: 0.5rem;
  padding: 5px;
  cursor: pointer;
  position: relative;
  webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  &.readed {
    background: #ebebeb;
    font-style: italic;
  }
}

.notify-list .item:hover {
  background: #e5edfc;
}
.notify-list .item:hover .btn-del {
  opacity: 1;
}
.notify-list .item .btn-del {
  width: 28px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  right: 5px;
  top: 12px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  opacity: 0;
}
.notify-list .item .btn-del i {
  font-size: 12px;
  color: #5a8dee;
}
.notify-list .item .btn-del i.color-gray {
  color: #777;
}
.notify-list .item .photo {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  flex: 0 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  font-size: 16px;
  background: #00acffc4;
  border: 4px solid $white;
  color: rgba(255, 255, 255, 0.8);
}

.notify-list .item .photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.notify-list .item .info .text-msg {
  color: #707287;
  max-height: 42px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
}
.notify-list .item .info .source {
  font-size: 12px;
  color: #5a8dee;
  letter-spacing: 0.2rem;
}
.notify-list .item .info .username {
  font-weight: 500;
  color: #222;
  margin-bottom: 0;
}

.notify-list::-webkit-scrollbar {
  width: 3px;
  background-color: #eee;
}

.notify-list::-webkit-scrollbar-thumb {
  background-color: #e5edfc;
  border-radius: 999px;
}

/* transform */
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
  }
}

.box-user__login {
  width: fit-content;
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: center;
  .name-user__login {
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 0px;
  }
}

.avatar-user__login {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;

  img,
  svg {
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
  }

  svg {
    fill: #4f5d73;
  }
}

.btn-user__header {
  position: absolute;
  right: 0px;
  top: 100%;
  height: fit-content;
  width: 170px;
  padding-left: 0px;
  border-radius: 5px;
  overflow: hidden;
  border: solid 1px #c2c2c2;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;

  li {
    padding: 5px 20px;
    cursor: pointer;

    &:not(:first-child) {
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 0px;
      width: 100%;
    }
  }
}

.btn-avatar__header {
  display: flex;
  align-items: center;

  > svg {
    fill: #727272;
    margin-left: 5px;
  }
}

.btn-avatar__header.active {
  .btn-user__header {
    opacity: 1;
    visibility: visible;
  }
}
