.item-statistical__card {
  height: 100%;
  padding: 20px;
  padding-right: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;

  .title-statistical__card {
    font-size: 24px;
  }

  .item-post__statistical {
    padding-left: 0px;
    display: flex;
    margin-bottom: 0px;
    justify-content: space-between;

    p {
      margin-bottom: 5px;
    }
  }
}

// .list-post__statistical {
//   max-height: 290px;
//   overflow-y: auto;
//   overflow-x: hidden;
//   padding-right: 15px;

//   &::-webkit-scrollbar {
//     width: 10px;
//     border-radius: 0px;
//   }

//   &::-webkit-scrollbar-track {
//     background-color: transparent;
//   }

//   &::-webkit-scrollbar-thumb {
//     background-color: #ababab;
//     cursor: pointer;
//     transition: all 0.3s;
//   }

//   &::-webkit-scrollbar-thumb:hover {
//     background-color: #000000;
//   }
// }

.status-post {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 1000px;
}

.status-post.online {
  background-color: #49cc90;
}

.status-post.offline {
  background-color: #ff0000;
}

.status-post.pause {
  background-color: #FFBF31;
}

.list-statistical__card {
  > .row {
    & > [class^="col"] {
      margin-bottom: 30px;
    }
  }
}
