.table-voice__main {
  tr {
    flex-wrap: wrap;
    display: flex;

    td {
      display: flex;
      align-items: center;

      &:nth-child(1) {
        width: 15%;
      }
      &:nth-child(2) {
        width: 20%;
      }
      &:nth-child(3) {
        width: 10%;
      }
      &:nth-child(4) {
        width: 15%;
      }
      &:nth-child(5) {
        width: 10%;
      }
      &:nth-child(6) {
        width: 25%;
      }
      &:nth-child(7) {
        width: 30px;
      }
      &:nth-child(8) {
        width: 100%;
        background: #ffffff;
        display: flex;
        align-items: flex-start;
        // visibility: hidden;
        // opacity: 0;
        // display: none;
        // transition: all 0.2s;

        .label-voice__text {
          font-weight: 700;
          width: fit-content;
          color: #000000;
          margin-right: 10px;
        }

        .content-voice__text {
          width: 100%;
          flex: 1;
        }
      }
    }
  }
}


.table-voice__main td[aria-expanded=true] + .content-voice__text {
  display: flex !important;
  opacity: 1 !important;
  visibility: visible !important;
  // transition: all 0.2s;
}

.table-voice__main td[aria-expanded=true] {
   svg {
    transform: rotateX(180deg);
  }
}

.btn-voice__content {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover,
  &:focus {
    transform: scale(1.2);
    svg {
      fill: #ed1b2f;
    }
  }
}
