.menu-vertical{
    border-radius: 100px;
    color:'red';
    overflow-y: auto;
    overflow-x: hidden;

}

.menu-vertical::-webkit-scrollbar {
    width: 8px;
    border-radius: 0px;
}

.menu-vertical::-webkit-scrollbar-track {
    background-color: #D7D7D7;
}

.menu-vertical::-webkit-scrollbar-thumb {
    background-color: #BBBBBB;
    border-radius: 10px;
}